<div class="container" id="upload">
  <p>Please upload the xml file here. After finish uploading it will direct to show page of xml file's basic information. The uploading process may be take a while.</p>

  <%= form_for @season do |f| %>
    <%= f.file_field :file %>
    <%= f.submit "Create" %>
  <% end %>
</div>
