<div class="container">
  <h1 class="text-center">1998statistics Info</h1>
  <ul class = "list-group">
    <li class="list-group-item"><%= "Year: #{@season.year}" %></li>
    <li class="list-group-item"><%= "File name: #{@season.file_file_name}"%></li>
    <li class="list-group-item"><%= "Content type: #{@season.file_content_type}" %></li>
    <li class="list-group-item"><%= "File size: #{@season.file_file_size}" %></li>
    <li class="list-group-item"><%= "Updated at: #{@season.file_updated_at}" %></li>
  </ul>
  <div class="text-center">
    <h3><%#= link_to "Batting Statistics", battings_path %></h3>
    <h3><%= link_to "Batting Statistics", batting_stats_path, target: :_blank%></h3>
    <h3><%= link_to "Baseball Database", rails_db_path, target: :_blank %></h3>
  </div>
</div>
