<div class="text-center">
  <%= will_paginate(@battings, :remote => true)  %>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-inverse">
    <tr>
      <th>SURANME</th>
      <th>GIVEN_NAME</th>
      <th>POSITION</th>
      <th><%= sort_link "avg", "AVG" %></th>
      <th><%= sort_link "home_runs", "HOME_RUNS(HR)"%></th>
      <th><%= sort_link "rbi", "RBI"%></th>
      <th><%= sort_link "runs", "RUNS"%></th>
      <th><%= sort_link "sb", "SB"%></th>
      <th><%= sort_link "ops", "OPS"%></th>
    </tr>
  </thead>

  <tbody>
    <% @batting_stats.each do |batting_stat| %>
      <tr>
        <td><%= get_surname(batting_stat) %></td>
        <td><%= get_given_name(batting_stat) %></td>
        <td><%= get_position(batting_stat) %></td>
        <td><%= batting_stat.avg %></td>
        <td><%= batting_stat.home_runs %></td>
        <td><%= batting_stat.rbi %></td>
        <td><%= batting_stat.runs %></td>
        <td><%= batting_stat.sb %></td>
        <td><%= batting_stat.ops %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= will_paginate(@battings, :remote => true)  %>
</div>
