
<h1 class = "text-center">Batting Statistics</h1>
  <table class="table table-hover table-bordered">
    <thead class="thead-inverse">
      <tr>
        <th>SURANME</th>
        <th>GIVEN_NAME</th>
        <th>POSITION</th>
        <th>AVG</th>
        <th>HOME_RUNS(HR)</th>
        <th>RBI</th>
        <th>RUNS</th>
        <th>SB</th>
        <th>OPS</th>
      </tr>
    </thead>

    <tbody>
      <% @battings.each do |batting| %>
        <tr>
          <td><%= batting.player_common.surname %></td>
          <td><%= batting.player_common.given_name %></td>
          <td><%= batting.player_common.position %></td>
          <td><%= batting.batting_stat.avg %></td>
          <td><%= batting.player_common.home_runs %></td>
          <td><%= batting.rbi %></td>
          <td><%= batting.player_common.runs %></td>
          <td><%= batting.batting_stat.sb %></td>
          <td><%= batting.batting_stat.ops %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="text-center">
    <%= will_paginate(@battings) %>
  </div>
